.backup
.git
.undo
.github
.classpath
.factorypath
.project
.settings
build
.DSStore
tags
.vscode
.bemol
node_modules
.config/iterm2/AppSupport
.config/raycast/extensions
.config/JetBrains
.config/brazil
.config/caja
.config/cr
.config/dconf
.config/jgit
.config/lazygit
.config/menus
.config/pluma
.config/pulse
.config/rde
.config/yarn
monitors.xml
user-dirs.dirs
user-dirs.locale
